/* For Webkit browsers (Chrome, Safari, and Edge) */
::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* IE 10+ */
}

body{
  -webkit-tap-highlight-color: transparent;
}